#!/usr/bin/env bash

set -eufo pipefail

{{ $brews := list
       "awscli"
       "bash"
       "git" -}}
{{ $casks := list
       "slack" -}}

{{ if eq .chezmoi.arch "amd64" -}}
{{   $brews = concat $brews (list
       "shellcheck") -}}
{{   $casks = concat $casks (list
       "temurin") -}}
{{ end -}}

{{ if .personal -}}
{{   $brews = concat $brews (list
       "ffmpeg") -}}
{{   $casks = concat $casks (list
       "balenaetcher"
       "google-chrome"
       "keepassxc"
       "microsoft-office-businesspro"
       "visual-studio-code"
       "whatsapp"
       "zoom") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF