README.md
.ssh
{{- if ne .chezmoi.hostname "SSAI-S1126" }}
.work # only manage .work on work-laptop: SSAI-S1126

.oh-my-zsh/cache/**
.oh-my-zsh/custom/themes/powerlevel10k/**/*.zwc

{{- end }}

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
Documents
{{ else }}
.bash_aliases
.config/git/cookies
{{ end }}
