{{/* boolean feature tags */}}
{{- $docker := false -}}{{/* true if this machine should have Docker installed */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $flarm := false -}}{{/* true if this machine is used for FLARM */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := true -}}{{/* true if this machine should have personal secrets */}}
{{- $work := false -}}{{/* true if this machine should have work secrets */}}
{{- $computer_name := "artemis" -}}
{{- $keepass_db := "db" -}}
{{- "" -}}

{{- $name := promptStringOnce . "name" "Your Full Name" -}}
{{- $email := promptStringOnce . "email" "Github Email address" -}}
{{- $computer_ownership := promptStringOnce . "computer_ownership" "Owner of this computer (work or personal)" -}}

# Set computer name (as done via System Preferences → Sharing)
{{ if eq $computer_ownership "personal" -}}
{{- $personal = true -}}
{{- $work = false -}}
{{- $computer_name = "artemis" -}}
{{- $keepass_db = "/Users/virdi/Library/CloudStorage/OneDrive-ScienceSystemsandApplications,Inc/Mobile-Docs/TerraVault.kdbx" -}}

{{- else if eq $computer_ownership "work" -}}
{{- $personal = false -}}
{{- $work = true -}}
{{- $computer_name = "SSAI-S1126" -}}
{{- $keepass_db = "/Users/makhan.virdi/Library/CloudStorage/OneDrive-ScienceSystemsandApplications,Inc/Mobile-Docs/TerraVault.kdbx" -}}

{{- else }}	
{{- $personal = false -}}
{{- $work = false -}}
{{- $computer_name = "SSAI-S1126" -}}
{{- $keepass_db = "/Users/virdi/Library/CloudStorage/OneDrive-ScienceSystemsandApplications,Inc/Mobile-Docs/TerraVault.kdbx" -}}

{{- end }}


[data]
    computer_name = {{ $computer_name | quote }}
    github_user = "virdi"
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    work_email = "Makhan.Virdi@ssaihq.com"
    personal_email = "Makhan.Virdi@gmail.com"
    myto_email = "virdi@myto.ai"
    personal = {{ $personal }}
    work = {{ $work }}

[keepassxc]
    database = {{ $keepass_db | quote }}

[data.alacritty.big]
    fontsize = 18
    font = "DejaVu Serif"
[data.alacritty.small]
    fontsize = 12
    font = "DejaVu Sans Mono"