<?xml version="1.0" encoding="UTF-8"?>
<AnyConnectPreferences>
<DefaultUser>makhan.virdi</DefaultUser>
<DefaultSecondUser></DefaultSecondUser>
<ClientCertificateThumbprint>67B7186707B52EA2063D135CBBB064B78888737A</ClientCertificateThumbprint>
<MultipleClientCertificateThumbprints></MultipleClientCertificateThumbprints>
<ServerCertificateThumbprint></ServerCertificateThumbprint>
<DefaultHostName>ehub.ssaihq.com</DefaultHostName>
<DefaultHostAddress></DefaultHostAddress>
<DefaultGroup>SSAI</DefaultGroup>
<ProxyHost></ProxyHost>
<ProxyPort></ProxyPort>
<SDITokenType>none</SDITokenType>
<ControllablePreferences></ControllablePreferences>
</AnyConnectPreferences>