{{- if eq .chezmoi.os "darwin" }}
Host *
  AddKeysToAgent yes
  UseKeychain yes
{{- end }}

Host github.com
  User {{ .github_user }}
  IdentityFile ~/.ssh/id_ed25519

Host bastion
  HostName 54.177.13.185
  User makhan.virdi
  Port 22
  IdentityFile ~/.ssh/makhan.virdi

Host ec2
  HostName 52.52.235.41
  User ec2-user
  Port 22
  IdentityFile ~/.ssh/ssai-scap-aiml-linux.pem

Host ec2gpu
  HostName 54.215.78.106
  User ec2-user
  Port 22
  IdentityFile ~/.ssh/ssai-scap-aiml-linux.pem%