[default]
aws_access_key_id = {{ keepassxcAttribute "Work_SSAI/aws-credentails-default" "aws_access_key_id" }}
aws_secret_access_key = {{ keepassxcAttribute "Work_SSAI/aws-credentails-default" "aws_secred_access_key" }}
[nasa-edl]
aws_access_key_id = {{ keepassxcAttribute "Work_SSAI/aws-credentails-nasa-edl" "aws_access_key_id" }}
aws_secret_access_key = {{ keepassxcAttribute "Work_SSAI/aws-credentails-nasa-edl" "aws_secred_access_key" }}
[irad2023]
aws_access_key_id = {{ keepassxcAttribute "Work_SSAI/aws-credentails-irad2023" "aws_access_key_id" }}
aws_secret_access_key = {{ keepassxcAttribute "Work_SSAI/aws-credentails-irad2023" "aws_secred_access_key" }}